/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */


* {
    font-size: xx-large;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
        border-bottom: crimson;
}

.item {
    border: currentColor;
}
.even {
    background-color: grey;
}
.odd {
    background-color: black;
    color: white;
}
#itewm1 {
    font-size: 30px;
}
#item2 {
    text-align: right;
}
#advanced-selectors ol li p {
    background-color: grey;
    padding: 10px;
}

#advanced-selectors ul>li:nth-child(2n + 1) {
    background-color: green;
}

a[title = 'CodeDev']:hover {
    text-decoration: none;
}


#advanced-selectors ul>li>a:hover {
    background-color:yellow;
}
#advanced-selectors ul>li>a:active {
    background-color:red;
}
